<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mon site</title>
	</head>
	<body>
        <li><a href="/">Home</a></li>
		<li><a href="/about">About</a></li>
		<h1>À propos de moi</h1>
        <p>Je suis grandì dans un veille ville gris et bruyant et tojours je rêve la vert montagnes</p>
	</body>
</html>